/*폰트*/
@font-face {
  font-family: NanumSquare;
  src: url(fonts/NanumMyeongjo-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  /* border: 1px gray solid; */
  /* letter-spacing: 5px; */
}
header {
  font-family: "NanumMyeongjo", "MalgunGothic", "Verdana";
  /* font-weight: bold; */
  font-size: x-large;
  /* text-align: center; */
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header > .introduction {
  /* background-color: aqua; */
  display: flex;
  /* justify-content: space-around; */
}
header > .introduction > h1 {
  margin-top: 30px;
}
header > .intro-content {
  /* margin-top: 10px; */
  /* margin: 10px 0; */

  /* background-color: red; */
}
header > .blog {
  margin-top: 40px;
  /* background-color: blue; */
}
header > .blog img {
  width: 50px;
  height: 50px;
  border-radius: 70%;
}
