.dock-wrapper {
  position: fixed;
  bottom: 4px;
  left: 0;
}

.bottom-bar {
  position: relative;
  width: 100vw;
  height: 30px;
  display: flex;
  background-color: #bcc0ca;
  border-top: 1px gray solid;
}
