@use 'src/styles/libs' as *;

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: absolute;
  cursor: grab;

  padding: 5px;

  @include priority-background-layer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;

    .icon_title {
      text-overflow: unset;
      width: fit-content;
      max-width: 70px;
      text-overflow: unset;
      &.ellipsis {
        max-width: 199px;
      }
    }
  }

  &_title {
    font-size: $SMALL;

    border: none;
    background-color: transparent;
    text-align: center;
    outline: none;
    padding: 3px;
    width: fit-content;
    max-width: 70px;
    &_edit {
      outline: auto;
    }

    &:hover {
      text-overflow: unset;
      width: fit-content;
    }
    &.ellipsis {
      text-overflow: ellipsis;
    }
  }
}
