@use 'src/styles/libs' as *;

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: absolute;
  cursor: grab;
  padding: 5px;
  @include priority-background-layer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;

    .icon_title {
      text-overflow: unset;
      width: fit-content;
      max-width: 199px;
      text-overflow: unset;
    }
  }

  &_title {
    font-size: $SMALL;

    border: none;
    background-color: transparent;
    text-align: center;
    outline: none;
    padding: 3px;

    &.ellipsis {
      text-overflow: ellipsis;
      width: fit-content;
      max-width: 120px;
      &:hover {
        text-overflow: unset;
        width: fit-content;
      }
    }
    &_edit {
      outline: auto;
      width: fit-content;
    }
  }
}
